.header {
	padding: 25px 0;
	display: flex;
	align-items: center;
	min-width: 100%;
	gap: 25px;
}
.logo {
	display: flex;
	gap: 10px;
	align-items: center;
}
.search {
	display: flex;
	align-items: center;
	flex-grow: 1;
	gap: 15px;
}

.userinfo {
	display: flex;
	gap: 25px;
	align-items: center;
}

.notifications {
	display: flex;
	gap: 10px;
}

.navigateArrows {
	display: flex;
	align-items: center;
}
.account {
	display: flex;
	gap: 10px;
	align-items: center;
}
.user {
	display: flex;
	gap: 5px;
}
