.watchContainer {
	position: relative;
}

.moviesContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	overflow: hidden;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px; /* Опционально, для добавления промежутков между элементами */
}
